
---
import { HeroBanner, FeaturedProductList } from '@components'
import MainLayout from '@layouts/MainLayout.astro'
---

<MainLayout title="Home Page">
  <HeroBanner />
  <main class="container mx-auto p-4">
    <FeaturedProductList />
  </main>
</MainLayout>